extends layout

block content
 div#cnt.container.clearfix
  div#icnt.row.clearfix
   div.span4
    div.entry
     h2.title 关于本喵
     div.cnt
      p 邮差猫基于trello
      p 帮助你发送整齐的周报，跟踪每周周报进度
      p 更有强大的自由订阅功能
      p 提升办公效率，整合项目管理与周报发送服务
      p 别忘了加关注：
      | <iframe width="136" height="24" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0" scrolling="no" border="0" src="http://widget.weibo.com/relationship/followbutton.php?language=zh_cn&width=136&height=24&uid=1644105187&style=2&btn=red&dpc=1"></iframe>
      p.credit 使用 Node.js / Express / MongoDB 构建
   div.comment.span8
    h2.title 有更好的想法？欢迎提建议：
    <div class="ds-thread" data-thread-key="" data-title="" data-author-key="" data-url=""></div><script type="text/javascript">var duoshuoQuery = {short_name:"mailmao"};(function() {var ds = document.createElement('script');ds.type = 'text/javascript';ds.async = true;ds.src = 'http://static.duoshuo.com/embed.js';ds.charset = 'UTF-8';(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);})();</script>