extends layout

block content
    div#cnt.container.clearfix
      div#icnt.row.clearfix
        div.main.span9
          div.tools.span9.clearfix
           div.email-cnt
            span.add-on <i class="icon-user"></i> 收件人邮箱
            input(type='text',id="sendToList",placeholder="不同邮箱地址用逗号分割")
          div.preview.span9
           //- div.alert.alert-info 你还没有授权数据源，邮差猫现在支持授权Trello，自动导入周报内容。不过你也可以试用在线发报：
           //-      a.close(data-dismiss="alert") x
           div.inner.clearfix
            div.send-setting.clearfix
             h3.title 预览模式
             div.action
              a#updateCache(href="javascript:void(0)") 
                i.icon-refresh 
                span 刷新数据
            include emailTpl/default-table
        div.sidebar.span3
          div.send-now
            a.send.btn.btn-primary.btn-send(href="javascript:void(0)",title="将要发送给所有常用收件人") <i class="icon-envelope"></i> 发送周报
          //- 选择要输出的板块
          div.boards
            - if (boards.length > 0)
              - each b in boards
                a(href="javascript:void(0)",data-id="#{b.id}",class="#{b.id == outputBoardID ? 'cur' : ''} select-boards").board-name 
                    - if (b.id == outputBoardID)
                      i.icon-ok
                      span #{b.name}
                    - else
                      i.icon-circle-blank 
                      span #{b.name}
          div.trello
            a.update-trello(href="javascript:void(0);") 
              i.icon-exchange
              | 更新trello板块信息
block js
 script(src='/javascripts/bs/bootstrap-popover.js')
 script(src='/javascripts/magicsuggest-1.2.5.js')
 script(src="/javascripts/upload/vendor/jquery.ui.widget.js")
 script(src="/javascripts/upload/jquery.iframe-transport.js")
 script(src="/javascripts/upload/load-image.min.js")
 script(src="/javascripts/upload/canvas-to-blob.min.js")
 script(src="/javascripts/upload/jquery.fileupload.js")
 script(src="/javascripts/upload/jquery.fileupload-fp.js")
 script(src='/javascripts/trello-client.js')
 script(src='/javascripts/home.js')