extends layout

block content
 div#cnt.container.clearfix
  div#icnt.row.clearfix
     div.span12.not-auth
      div.entry.clearfix
       div.text.clearfix
        h2.title 从此爱上写周报
        div.desc 邮差猫基于trello，<br />帮助你发送整齐的周报，跟踪每周周报进度<br />更有强大的自由订阅功能，配合GTD工具更好的管理日常项目与需求，即刻抛弃低效和无趣的邮件模板，不来试试看？
        div.login-first
         a.wb(href="https://api.weibo.com/oauth2/authorize?client_id=#{weibo.key}&response_type=code&redirect_uri=#{href}/signin") 新浪微博登录
       img.bn-img(src='/images/banner.jpg',alt="邮差猫发件范本",title="邮差猫发件范本") 